.page__footer {
  max-width: 880px;
  margin: 66px auto 0px;
}

@media screen and (max-width: 1024px) {
  .page__footer {
    margin: 45px 72px 0px;
  }
}

@media screen and (max-width: 768px) {
  .page__footer {
    margin: 48px calc(19 / 320 * 100%) 0;
  }
}
