.popup__cross {
  width: 32px;
  height: 32px;
  position: absolute;
  right: -40px;
  top: -40px;
}

.popup__cross::after {
  content: "";
  transform: translate(-6px, 14px) rotate(45deg);
  display: block;
  /* position: absolute;
  left: 0;
  top: 0; */
  width: 45px;
  height: 4px;
  background: #fff;
}

.popup__cross::before {
  content: "";
  transform: translate(-6px, 14px) rotate(-45deg);
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 45px;
  height: 4px;
  background: #fff;
}
